@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
html {
    --main-color: #385898;
}
div.container {
    margin: 24px auto;
}
img.logo {
    position: absolute;
    left: 8px;
}
h1 {
    text-align: center;
}

div.form-group {
    display: flex;

}
p#alert-no-save {
    text-align: right;
    font-size: small;
    width: 100%;
}
div#header {
    padding: 16px;
    color: #fff;
    background-color: var(--main-color);
}

h1.title {
    margin-bottom: 0;
    line-height: 1;
}